@font-face {
  font-family: 'Roboto';
  src: url('../font/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../font/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src: url('../font/Oswald-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src: url('../font/Oswald-Medium.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand';
  src: url('../font/Quicksand-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand';
  src: url('../font/Quicksand-Regular.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

html, body {
  margin: 0;
  height: 100%;
}

body {
  font-family: 'Roboto', arial, helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  background-image: url('../img/snow64b.gif'); /*/////// SNOW IMAGE */
  color: #23272A; 
}


/*////////////////////////////////// DARK MODE TOGGLE CSS *////////////////////////////////////////


.dark-mode {
  background-image: url('../img/snow64b_dark.png'); /*/////// DARK SNOW IMAGE */
  color: white; 
}

.switch {
  position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

.switch input { 
  opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
  border-radius: 34px;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
	background-color: #313E7C;
}

input:focus + .slider {
	box-shadow: 0 0 3px #313E7C;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}


/*////////////////////////////////// END DARK MODE TOGGLE CSS *////////////////////////////////////////


a { /*////////////////////////////////////////////////// Optifine blue, normal is 313E7C */
  color: #313E7C;
  text-decoration: none;
}

h1 {
  font-weight: 700;
  font-size: 4em;
  font-family: "Quicksand", arial, helvetica, sans-serif;
  margin: 0.25em 0;
}

h2 {
  font-weight: 500;
  font-family: helvetica, arial, sans-serif;
  margin-bottom: 0.3em;
  text-align: center;
}
/*////////////////////////////////////////////////////// 23272A is dark*/
#header, #footer { /*/////////////////////////////////// HEADER AND FOOTER COLOR ITS 313E7C BY DEFAULT */
  width: 100%;
  display: flex;
  background-color: #313E7C;
}

#header {
  height: 16em; 
  justify-content: space-between;
}

#wrapper {
  margin: 0 auto;
  max-width: 900px;
  min-width: 700px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: white; /*/////////////////////////// BACKGROUND COLOR ITS "white" BY DEFAULT */
  box-shadow: 0px 0px 20px #96a0c5;
}

.dark-mode {
  background-color: #23272A;
}


#optifine {
  position: fixed;
  display: flex;
  align-items: stretch;
  justify-content: center;
  font-family: 'Oswald', arial, helvetica, sans-serif;
  font-size: 300%;
  font-weight: bold;
  transition: 100ms;
}
.centered {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-10%, -50%);
}

#optifine:hover, #optifine:focus {
  background-color: #fff;
}

#optifine a {
  width: 100%;
  text-align: center;
  color: #fff;
  transition: 100ms;
  padding: 0 0.5em;
}

#optifine:hover > a, #optifine:focus > a {
  color: #313E7C;
}

#nav {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0 1.5em;
}

#nav a, #footer a {
  color: #fff;
  padding: 0.5em 1em;
  transition: 100ms;
  margin: 0 1px;
}

#nav a:hover, #footer a:hover, #nav a:focus, #footer a:focus {
  color: #313E7C;
  background-color: #fff;
}

#content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
}

#footer {
  height: 3em;
  align-items: center;
  justify-content: center;
}

.largeButton {
  background-color: #313E7C;
  color: #fff;
  padding: 0.5em 2em;
  font-size: 1.5em;
  box-shadow: 0 0 0 1px #313E7C inset;
  text-align: center;
  transition: 100ms;
}

.largeButton:hover, .largeButton:focus {
  background-color: transparent;
  color: #313E7C;
}




